@font-face {
  font-family: "Proxima-Nova-Bold";
  src:
    url("../fonts/ProximaNova-Bold.eot"),
    url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ProximaNova-Bold.woff2") format("woff2"),
    url("../fonts/ProximaNova-Bold.woff") format("woff"),
    url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Proxima-Nova-Semibold";
  src:
    url("../fonts/ProximaNova-Semibold.eot"),
    url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ProximaNova-Semibold.woff2") format("woff2"),
    url("../fonts/ProximaNova-Semibold.woff") format("woff"),
    url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Proxima-Nova-Regular";
  src:
    url("../fonts/ProximaNova-Regular.eot"),
    url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ProximaNova-Regular.woff2") format("woff2"),
    url("../fonts/ProximaNova-Regular.woff") format("woff"),
    url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins-Bold";
  src:
    url("../fonts/Poppins-Bold.eot"),
    url("../fonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Poppins-Bold.woff2") format("woff2"),
    url("../fonts/Poppins-Bold.woff") format("woff"),
    url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins-SemiBold";
  src:
    url("../fonts/Poppins-SemiBold.eot"),
    url("../fonts/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("../fonts/Poppins-SemiBold.woff") format("woff"),
    url("../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins-Regular";
  src:
    url("../fonts/Poppins-Regular.eot"),
    url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Poppins-Regular.woff2") format("woff2"),
    url("../fonts/Poppins-Regular.woff") format("woff"),
    url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "HomepageBaukasten";
  src:
    url("../fonts/HomepageBaukasten-Bold.eot"),
    url("../fonts/HomepageBaukasten-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HomepageBaukasten-Bold.woff2") format("woff2"),
    url("../fonts/HomepageBaukasten-Bold.woff") format("woff"),
    url("../fonts/HomepageBaukasten-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
