.save-money {
  margin-top: 80px;
  margin-bottom: 48px;
}
.save-money__main-box {
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.save-money__box {
  width: 100%;
  max-width: 220px;
  height: 140px;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
}
.save-money__content {
  padding-left: 26px;
  a {
    @include poppins_regular;
    color: $date-color;
    span {
      color: $text;
      font-size: 14px;
      @include proxima-nova_bold;
    }
  }
  h2 {
    padding-top: 12px;
    a {
      @include proxima-nova_bold;
      font-size: 24px;
      color: $bg-dark;
    }
  }
}
